#addNewMovieForm .col-3{
    text-align:right;
}
#addNewMovieForm .col{
    text-align:left;
}
#addNewMovieForm{
    background-color: var(--dark-bg-color);
    padding:2em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#closeAddMovie{
    transition:all 0.3s ease;
}
#closeAddMovie:hover{
    transform:scale(1.2);
    cursor: pointer;
    color:var(--custom-red);
}